<div class="overlay-popup" >
  <div class="popup">
      <span class="popup__close icon-close"
            (click)="closeModal.emit()"></span>
    <h3 class="popup__title">увійти</h3>
    <p class="popup__text">
      Ще не зареєстровані в TUTEAT?
      <span class="popup__reg">Реєстрація</span>
    </p>
    <a href="#" class="popup__link google">
      <img
        class="popup__link-img"
        src="../../../assets/icons/sign/Google.svg"
        alt="google"
      />
      Увійти з Google
    </a>
    <a href="#" class="popup__link apple">
      <img
        class="popup__link-img"
        src="../../../assets/icons/sign/Apple.svg"
        alt="google"
      />
      Увійти з Apple
    </a>
    <a href="#" class="popup__link email">
      <img class="popup__link-img" src="../../../assets/icons/sign/Mail.svg" alt="google"/>
      Увійти з Email
    </a>
  </div>
</div>
